MvcApplicationDatabase/bin/MvcApplicationDatabase.dll
MvcApplicationDatabase/bin/MvcApplicationDatabase.pdb
MvcApplicationDatabase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MvcApplicationDatabase/obj/Debug/MvcApplicationDatabase.dll
MvcApplicationDatabase/obj/Debug/MvcApplicationDatabase.pdb
MvcApplicationDatabase/bin/MvcApplicationDatabase.dll
MvcApplicationDatabase/bin/MvcApplicationDatabase.pdb
MvcApplicationDatabase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MvcApplicationDatabase/obj/Debug/MvcApplicationDatabase.dll
MvcApplicationDatabase/obj/Debug/MvcApplicationDatabase.pdb
