@model IEnumerable<MvcApplicationDatabase.Models.Question>

@{
    string sort = Request["sort"];
    if (sort.IsEmpty())
    {
        sort = "newest";
    }
    ViewBag.Title = "Questions";
    string[] tabs = {"newest", "faq", "votes", "active", "unanswered"};
}
<div class="homebox">
    <h2>About Stack Underflow</h2>
    <p>Stack Underflow is a question and answer site for professional and enthusiast programmers. It's built and run by you as part of the Stack Exchange network of Q&A sites. With your help, we're working together to build a library of detailed answers to every question about programming.</p>
</div>
<div class="homebox">
    <h2>5 Newest Questions</h2>
    @{int count = 1;}
    @foreach (var item in Model) {
    <div class="question-summary" id="question-summary-@item.Question_id">
        <div class="summary">
            <h3>@count@{count++;}. @Html.ActionLink(item.Title, item.Question_id.ToString(), "question")</h3>
            <div class="tags">
                @foreach (var tag in item.Tags)
                {
                    @Html.ActionLink(@tag.Name, @tag.Name.ToLower(), new { controller = "question/tagged" }, new { @class = "post-tag", })
                }
            </div>
        </div>
    </div>
    }
</div>
<br />