* { margin: 0; padding: 0; }

.clear { clear: both; }

.wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #000;
}

header, footer, nav, section {
    display: block;
}

/* HEADER */
#user {
    background: #eee;
    height: 30px;
    text-align: right;
}
#user p { line-height: 30px; }
#user a { text-decoration: none; }

#logo {
    height: 35px;
    width: 250px;
    margin-top: 10px;
    float: left;
}

/* NAVIGATION */
#navigation { float: left; margin-left: 25px; margin-top: 16px; }
#navigation ul { list-style-type: none; }
#navigation ul li {
    margin-left: 5px;
    float: left;
    background: #666;
    height: 30px;
}
#navigation ul li:last-child { background: green; }
#navigation ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    padding: 0 8px 0 8px;
}
#navigation ul li:hover { background: #888; }


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Content
-----------------------------------------------------------*/

.content {
    margin: 0 auto;
    width: 960px;
    min-height: 450px;
}

.mainbar {
    float: left;
    width: 500px;
}

.sidebar {
    float: right;
    width: 220px;
}