@{
    ViewBag.Title = "_Editor";
}

<form>
    <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
        <textarea class="post-editor wmd-input" id="wmd-input" name="post-text"></textarea>
    </div>
    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>

    <input type="submit" id="submit-button"  value="Post Your Answer" tabindex="120">
</form>
