@{
    ViewBag.Title = "Ask";
}

<form id="post-form" class="post-form" action="/questions/ask/submit" method="post">

    <div id="question-form">

        <div style="position: relative;"> 
            <div class="form-item ask-title">
                <table class="ask-title-table">
                    <tbody>
                        <tr>
                        <td class="ask-title-cell-key">
                            <label for="title">Title</label>
                        </td>
                        <td class="ask-title-cell-value">
                            <input type="text" maxlength="300" tabindex="100" class="actual-edit-overlay" data-min-length="15" data-max-length="150" autocomplete="off" style="opacity: 1; position: absolute; background-color: white; color: black; -webkit-text-fill-color: black; width: 610px; height: 16px; line-height: normal; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; border: 1px solid rgb(153, 153, 153);" disabled="disabled"><input id="title" name="title" type="text" maxlength="300" tabindex="100" class="ask-title-field edit-field-overlayed" data-min-length="15" data-max-length="150" autocomplete="off" style="opacity: 0.4; z-index: 1; position: relative;">                        
                            <span class="edit-field-overlay">what's your programming question? be specific.</span>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <div id="question-suggestions">
                </div>
            </div>
        </div>

        <div style="position: relative;"> 
            <div style="position: relative;"> 
                <div class="form-item">
                    <label>Tags</label>
                    <div class="tags-error-anchor">
                        <input id="tagnames" name="tagnames" type="text" size="60" value="" tabindex="103" style="display: none;"><div class="actual-edit-overlay" style="width: 666px; height: 28px; opacity: 1; position: absolute; background-color: white; color: black; -webkit-text-fill-color: black; line-height: 28px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; border: 1px solid rgb(153, 153, 153);" disabled="disabled">&nbsp;
                            at least one tag such as (c ios arrays), max 5 tags
                        </div><div class="tag-editor edit-field-overlayed" style="width: 666px; height: 28px; opacity: 0.4; z-index: 1; position: relative;"><span style=""></span><input type="text" tabindex="103" style="width: 658px;"><span></span></div>
                        <span class="edit-field-overlay">
                            at least one tag such as (c ios arrays), max 5 tags
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="question-only-section">
            <div>
                <h2 class="bottom-notice">
                    Would you like to have responses to your questions <a id="inbox-notify-1" href="#">sent to you via email</a>?
                </h2>
            </div>

            <div class="form-submit cbt">
                <input id="submit-button" type="submit" value="Post Your Question" tabindex="120">
                <a href="#" class="discard-question dno">discard</a>               
            </div>
        </div>

    </div>
        
</form>​