@{
    ViewBag.Title = "Ask";
}

<form id="post-form" class="post-form" action="/questions/ask/submit" method="post">

    <div id="question-form">

        <div class="form-item ask-title">
            <table class="ask-title-table">
                <tbody>
                    <tr>
                        <td class="ask-title-cell-key">
                            <label for="title">Title</label>
                        </td>
                        <td class="ask-title-cell-value">
                            <input class="ask-title-field" name="title" type="text" maxlength="300" tabindex="100"  data-min-length="15" data-max-length="150" autocomplete="off">                        
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="form-item">
            <textarea class="post-editor" name="post-text"></textarea>
        </div>

        
        <div class="form-item">
            <label>Tags</label>             
            <input id="tagnames" name="tagnames" type="text" size="60" value="" tabindex="103">
        </div>
        
        
        <div id="question-only-section">
            <div class="form-submit clear">
                <input id="submit-button" type="submit" value="Post Your Question" tabindex="120">
                <a href="#" class="discard-question dno">discard</a>              
            </div>
        </div>

    </div>
        
</form>​