@model IEnumerable<MvcApplicationDatabase.Models.Tag>
@{
    ViewBag.Title = "Top tags";
}

<h2>@ViewBag.Title</h2>

<div class="tag-list">
    @foreach (var t in Model)
    {
        <div class="tag-item">
            <a href="http://www.google.com" class="post-tag">@t.Name</a>  
            <span class="tag-excerpt"> 
                #@t.Questions.Count
                <br /> 
                @t.Summary
            </span>
        </div>
    }

    <div class="clear"></div>

</div>